/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   General content
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
    margin: 0;

}

* {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

main {
    background-color: #28B533;
    background-size: auto;
    height: auto;
    min-height: 100%;
    padding-top: 100px;
    padding-bottom: 600px;
}
.redirect{
    height: 500px;
}

main#edit{
    padding-top: 80px;
    padding-bottom: 538px;
}

p {
    color: black;
}

@font-face {
    font-family: 'Keep Calm Med';
    src: url('../fonts/finalfont/KeepCalm-Medium.woff2') format('woff2'),
        url('../fonts/finalfont/KeepCalm-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'College';
    src: url('../fonts/finalfont/College.woff2') format('woff2'),
        url('../fonts/finalfont/College.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 a, h2 {
    font-family:  'Keep Calm Med';
}
h1 span {
    font-family:  'Keep Calm Med';
}

h2 span {
    font-family: 'Keep Calm Med';
}

p, span, h2, h3, h4, h5, a, td {
    font-family: 'Keep Calm Med';
}

/* ==========================================================================
    Header
    ========================================================================= */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 968px;
}

header {
    background-color: #FFFFFF;
    color: white;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 a{
    color: #4EE304;
    font-size: 50px;

}

h1 span {
    color: #28B533;
}

nav a {
    color: #28B533;
    margin: 5px;
}

nav a:hover {
    color: black;
}


.register-or-login a {
    color: #28B533;
    margin: 8px;
}

.register-or-login a:hover {
    color: black;
}


/* ==========================================================================
    Main
    ========================================================================= */

/* ==========================================================================
    Banner
    ========================================================================= */


h2 {
    font-size: 45px;
    color: #FFFFFF;
    padding-left: 200px;
}

h2 span {
    color: #FFFFFF;
}


.banner {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.banner img {
    width: 100%;
    height: 28em;
    border-radius: 15px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
}
/* ==========================================================================
    .info
    ========================================================================= */

    .info {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .info h3, .info p {
        color: white;
    }

    .info h3 {
        text-transform: uppercase;
    }

/* ==========================================================================
    Players and Teams
    ========================================================================= */

    .players-and-teams {
        padding-top: 20px;

    }
    .players-and-teams h3 {
        text-align: center;
        color: white;
    }
    .players-and-teams a{
        text-align: center;
        display: flex;
        flex-direction: column;
        color: white;

    }

    .players-and-teams .container{
        display: flex;

    }

    .main-players {
        
        flex: 1;
    }

    .main-teams {
        flex: 1;
    }


     



/* ==========================================================================
    Footer
    ========================================================================= */

    footer {
        background-color: #000000;
        padding: 30px;
        border-top-style: solid;
        border-top-color: #FFFFFF;
        border-top-width: 1px;
    }

    footer p {
        color: white;
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ==========================================================================
    Other Pages
    ========================================================================= */
    /* ==========================================================================
    Login Page
    ========================================================================= */

    .login {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 500px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .form-group label {
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
    }

    .form-group input {
        width: 500px;
        margin: auto;
        text-align: center;
    }

    .form-group input[type=submit]{
        width: 100px;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-group input#create_button{
        width: 150px;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .form-group input#edit_button{
        width: 150px;
        align-items: center;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .form-group span {
        color: white;
    }

    .form-group span a {
        color: white;
    }

    select#playeramount{
      width: 50px;
      margin: 0 auto;
    }

    .login h3 {
        text-align: center;
        color: black;
        text-transform: uppercase;
    }

    /* ==========================================================================
   Spelers
   ========================================================================== */
    .spelers {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 500px;
    }

    .spelers h3, .spelers h4 {
        text-align: center;
        color: black;
        text-transform: uppercase;
    }

    .spelers ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .spelers li {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .player-form form{
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .player-form label {
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
    }

    .player-form input {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .player-form button {
        width: 30%;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .player-form span {
        color: white;
    }

    .player-form span a {
        color: white;
    }

    .spelers h4 {
        margin-bottom: 10px;
    }

    .spelers ul {
        margin-bottom: 10px;
    }

    .spelers select#playeramount {
        width: 100px;
    }

   /* ==========================================================================
   Teams
   ========================================================================== */


    .teams {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 500px;
    }

    .teams img{
        display: block;
        margin: 0 auto; 
    }

    .teams h3, .teams h4 {
        text-align: center;
        color: black;
        text-transform: uppercase;
    }

    .teams ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .teams a {
       display: flex;
       flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 5px;
    }

    .teams p{
        text-align: center;
    }

    .team-form h3{
        text-align: center;
    }
    .team-form form{
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .team-form label {
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
    }

    .team-form input {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .team-form button {
        width: 30%;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .team-form span {
        color: white;
    }

    .team-form span a {
        color: white;
    }

    .teams h4 {
        margin-bottom: 10px;
    }

    .teams ul {
        margin-bottom: 10px;
    }


   /* ==========================================================================
   Poules
   ========================================================================== */

    .poules {
        padding-top: 20px;
        padding-bottom: 20px;
        height: 500px;
    }

    .poules h3, .poules h4 {
        text-align: center;
        color: black;
        text-transform: uppercase;
    }

    .poules ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .poules li {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .poule-form form{
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .poule-form label {
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
    }

    .poule-form input {
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .poule-form button {
        width: 30%;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .poule-form span {
        color: white;
    }

    .poule-form span a {
        color: white;
    }

    .poules h4 {
        margin-bottom: 10px;
    }

    .poules ul {
        margin-bottom: 10px;
    }

    .competition {
        padding-top: 10px;
        padding-bottom: 10px;
    }
     

    .competition .container form{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .competition button {
        width: 30%;
        text-align: center;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .competition h4 {
        text-align: center;
        color: black;
        text-transform: uppercase;
    }

    .game {
        padding: 20px;
    }

    .games {
         padding-bottom: 150px;
     }

    .games input {
        width: 30%;
    }

    .game input {
        margin: 0 auto;

    }

    .game {
        border-color: white;
        border-style: solid;
        margin: 20px;
    }




     /* ==========================================================================
   Team
   ========================================================================== */

.players-in-team {
    text-align: center;
    padding-bottom: 10px;
}

/* ==========================================================================
   Standen
   ========================================================================== */

.standen table{
   border-collapse: collapse;
   width: 50%;
   text-align: center;
   margin: 0 auto;
}

.standen h3{
    color: #000;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.standen td, .standen th {
  border: 1px solid #ddd;
  padding: 8px;
}

.standen tr{
    background-color: #fff;
}

.standen tr:nth-child(even){
    background-color: #f2f2f2;
}

.standen tr:hover {
    background-color: #ddd;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
